body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a5a8d6; 
    font-family: Arial, sans-serif;
    height: 120vh; 
    margin: 0; 
}

.product-card {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: overflow; 
    width: 50%;
    text-align: left;
    font-size: 16px;
    min-height: 40%; 
}

.badge {
    position: absolute;
    top: 0.5%;
    left: -5%; 
    background-color: #fdf1b5; 
    color: #333;
    font-weight: 900; 
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.9em;
    z-index: 2;
    transform: translateX(0%);
}

.product-image {
    width: 100%;
    height: 60%; 
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.product-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 40%; 
    overflow-y: auto; 
}

.product-info h2 {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.product-info h2 span {
    font-weight: normal;
    color: #777;
    font-size: 1em;
}

.product-info p {
    margin: 10px 0;
    color: #000000;
    font-size: 24px; 
}
